doctype
html(lang='es-VE')
 head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='profile', href='http://gmpg.org/xfn/11')
    link(rel='pingback', href='http://computacion.ing.ula.ve/xmlrpc.php')
    //if lt IE 9
      script(src='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/js/html5.js')

    title Proyectos de Grado realizados por |
    include ./extends/menu.jade
 body.page.page-id-89.page-template-default.custom-background.siteorigin-panels
    #wrap.clr.container
      include ./extends/menu1.jade
      #primary.content-area.clr
        main#content.site-content.left-content(role='main')
          header.page-header.clr
            h1.page-header-title Tus datos
          // #page-header
          article.entry.clr
            #pl-80
              #pg-80-0.panel-grid
                #pgc-80-0-0.panel-grid-cell
                  #panel-80-0-0-0.so-panel.widget.widget_nav_menu.panel-first-child.panel-last-child
                    .menu-personal-container
                      ul#menu-personal.menu
                #pgc-80-0-1.panel-grid-cell &nbsp;
                #pgc-80-0-2.panel-grid-cell
                  #panel-80-0-2-0.so-panel.widget.widget_search.panel-first-child.panel-last-child
                    input#s(type="search", placeholder="Search...")
                  <br>
                  #pgc-80-0-3.panel-grid-cell
                    #panel-80-0-2-0.so-panel.widget.widget_search.panel-first-child.panel-last-child
                      #results
            // #post
    // #main-content
    // #wrap
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js')
    script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-includes/js/comment-reply.min.js?ver=4.1.8')
    script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/js/plugins.js?ver=2.0.1')
    script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/js/global.js?ver=2.0.1')
    script(type='text/javascript').
      $(function(){
        $('#s').on('keyup', function(e){
         if(e.keyCode === 13) {
           $('#results').empty();
            var parameters = $(this).val();
            $.get( '/api/search/a/' + parameters, function(data) {
            if(0 == data.entries.length) {
              $('#results').html('<p style="color: red">'+
              'No hemos podido recuperar tus datos, verifica que todos hallan sido guardado correctamente y recuerda que debes colocar todo en minusculas</p>');
            } else {
              for (var i=0; i<data.entries.length; i++) {
                var html = '<p>'+ 'Profesión:  '+ data.entries[i].titulo +
                '<br>' + 'Nombre:  ' + data.entries[i].name +
                '<br>' + 'email:  ' + data.entries[i].email +
                '<br>' + 'Tlf móvil:  ' + data.entries[i].movil +
                '<br>' + 'Dirección:  ' + data.entries[i].sem +
                '<br>' + 'Experiencia:  ' + data.entries[i].claves +
                '<br>' + '_____________________________________________________________________________' + '</p>';

                $('#results').append(html);
              }
            }
            });
          };
        });
      });
