doctype
html(lang='es-VE')
 head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='profile', href='http://gmpg.org/xfn/11')
    link(rel='pingback', href='http://computacion.ing.ula.ve/xmlrpc.php')
    //if lt IE 9
      script(src='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/js/html5.js')

    title Agregar tus datos |
    include ./extends/menu.jade
 body.page.page-id-91.page-template-default.custom-background.siteorigin-panels
    #wrap.clr.container
      include ./extends/menu2
      #primary.content-area.clr
        main#content.site-content.left-content(role='main')
          // wikipage start
          h1#login.sectionedit1
          .level1
            p

            strong Inicia sesión para ver o almacenar tus datos.
            br
            br
          .centeralign
            div.account-wall
              form(class='form-signin', action='/login', method='POST')
                input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
                input(type='password', name='password' class='form-control', placeholder='Password', required)
                <br>
                button(class='btn btn-lg btn-primary btn-block', type='submit') Iniciar Sesion
                span.clearfix
            #message
            if message
              h1.text-center.error-message #{message}
              // wikipage stop
          p &nbsp;
          // #post
          footer.entry-footer
          // .entry-footer
        // #content
      // #primary
