doctype
html(lang='es-VE')
 head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='profile', href='http://gmpg.org/xfn/11')
    link(rel='pingback', href='http://computacion.ing.ula.ve/xmlrpc.php')
    //if lt IE 9
      script(src='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/js/html5.js')

    title Iniciar Sesion |
    include ./extends/menu.jade
 body.page.page-id-91.page-template-default.custom-background.siteorigin-panels
    #wrap.clr.container
      include ./extends/menu2.jade
      #primary.content-area.clr
        main#content.site-content.left-content(role='main')
          // wikipage start

          .level1

             h1 Bienvenido a tus clasificados #{title}

              <br>
              <br>
            p
              | Coloca tu
              strong  login
              |  y tu
              strong  password
              |  para iniciar sesion.
          .centeralign
            div.account-wall
              form(class='form-signin', action='/login', method='POST')
                input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
                input(type='password', name='password' class='form-control', placeholder='Password', required)
                <br>
                button(class='btn btn-lg btn-primary btn-block', type='submit') Entrar
                span.clearfix
            #message
            if message
              h1.text-center.error-message #{message}


            h1
              if(user)
                ul
                  li
                    img(src="#{user.photo}")
                  li Bienvenido #{user.name}
                  li
                    a(href='logout') Salir
              else
                ul
                  li
                    a(href='https://es-la.facebook.com/public/?query=Marielb+Marquez') Siguenos en Facebook

              // wikipage stop
          p &nbsp;
          // #post
    // #main-content
    // #wrap
    script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-includes/js/comment-reply.min.js?ver=4.1.8')
    script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/js/plugins.js?ver=2.0.1')
    script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/js/global.js?ver=2.0.1')
