doctype
html(lang='es-VE')
 head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='profile', href='http://gmpg.org/xfn/11')
    link(rel='pingback', href='http://computacion.ing.ula.ve/xmlrpc.php')

    title Principal
    include ./extends/menu.jade
 body.home.page.page-id-61.page-template.page-template-templates.page-template-fullwidth.page-template-templatesfullwidth-php.custom-background.siteorigin-panels.siteorigin-panels-home
    #wrap.clr.container
      include ./extends/menu4.jade
      #primary.content-area.clr
        main#content.site-content.left-content(role='main')
          header.page-header.clr
            h1.page-header-title Debes aceptar los términos al registrarte. Intentalo de nuevo. Deberás usar un login diferente.
          // #page-header
          article.entry.clr
            #pl-80
              #pg-80-0.panel-grid
                #pgc-80-0-0.panel-grid-cell
                  #panel-80-0-0-0.so-panel.widget.widget_nav_menu.panel-first-child.panel-last-child
                    .menu-personal-container
                      ul#menu-personal.menu
                #pgc-80-0-1.panel-grid-cell &nbsp;
                #pgc-80-0-2.panel-grid-cell
          // #post
    // #main-content
    // #wrap
    link#sow-carousel-basic-css(rel='stylesheet', href='http://computacion.ing.ula.ve/wp-content/plugins/so-widgets-bundle/widgets/so-post-carousel-widget/css/style.css?ver=1.2.2', type='text/css', media='all')
    script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-includes/js/comment-reply.min.js?ver=4.1.8')
    script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/js/plugins.js?ver=2.0.1')
    script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/js/global.js?ver=2.0.1')
    script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-content/plugins/so-widgets-bundle/js/jquery.touchSwipe.min.js?ver=1.6.6')
    script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-content/plugins/so-widgets-bundle/widgets/so-post-carousel-widget/js/carousel.min.js?ver=1.2.2')
