doctype
html(lang='es-VE')
 head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='profile', href='http://gmpg.org/xfn/11')
    link(rel='pingback', href='http://computacion.ing.ula.ve/xmlrpc.php')
    //if lt IE 9
      script(src='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/js/html5.js')

    title Conectarse
    include ./extends/menu.jade

 body.home.page.page-id-61.page-template.page-template-templates.page-template-fullwidth.page-template-templatesfullwidth-php.custom-background.siteorigin-panels.siteorigin-panels-home
    #wrap.clr.container
      include ./extends/menu5.jade

      #primary.content-area.clr
        main#content.site-content.left-content(role='main')
          // wikipage start
          h1#login.sectionedit1 Agrega tus datos
          .level1
           h2  Todos los campos son obligatorios. Debes colocar todo en minusculas.
          fieldset
           legend Agregar
           .addCommentForm
                form( method="post", action="/mm")
                    div
                      div
                        span Titulo :
                        <br>
                        input(type='text', data-validate-length-range='10', data-validate-words='5', name='titulo', placeholder='ejm. ingeniero de sistemas', required='required')
                      div
                        span.label Nombre y Apellido :
                        <br>
                        input(type='text', data-validate-length-range='6', data-validate-words='2', name='name', placeholder='ejm. marielb marquez', required='required')
                      div
                        span.label Telefono Móvil :
                        input.tel(type='tel', name='movil', placeholder='ejm. 04161234567', data-validate-length-range='8,20',required='required')
                      div
                        span.label e-mail :
                        input.email(type='email', name='email', required='required', placeholder='ejm. nombre@gmail.com' )
                      div
                        span.label Experiencia :
                        <br>
                        input(type='text' name="claves",placeholder='ejm. mongodb jade express nodejs', required='required')
                      div
                        span.label Direccion
                        <br>
                        input(type='text', name="sem", data-validate-length-range='6', data-validate-words='2', placeholder='envigado colombia', , required='required')
                        <br>
                      div#addCommentSubmit
                        input(type="submit", value="Guardar")
                      br


    // #main-content
    // #wrap
    link#sow-carousel-basic-css(rel='stylesheet', href='http://computacion.ing.ula.ve/wp-content/plugins/so-widgets-bundle/widgets/so-post-carousel-widget/css/style.css?ver=1.2.2', type='text/css', media='all')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-includes/js/comment-reply.min.js?ver=4.1.8')
    script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/js/plugins.js?ver=2.0.1')
    script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/js/global.js?ver=2.0.1')
