doctype
html(lang='es-VE')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='profile', href='http://gmpg.org/xfn/11')
		link(rel='pingback', href='http://computacion.ing.ula.ve/xmlrpc.php')
		//if lt IE 9
			script(src='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/js/html5.js')

		include ./extends/menu.jade
	body.page.page-id-91.page-template-default.custom-background.siteorigin-panels
		#wrap.clr.container
			#header-wrap.clr
				header#header.site-header.clr(role='banner')
				// #header
			// #header-wrap
			#sidr-close
				a.toggle-sidr-close(href='#sidr-close')
			#site-navigation-wrap
				a#navigation-toggle(href='#sidr-main')
					span.fa.fa-bars
					| Menu

				nav#site-navigation.navigation.main-navigation.clr(role='navigation')
					.menu-menu-1-container
						ul#menu-menu-1.dropdown-menu.sf-menu
							li#menu-item-102.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-102
								a(href='/graduandos') Iniciar sesion
							li#menu-item-77.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-77
								a(href='/principal') Registrar nuevo usuario

				// #site-navigation
			// #site-navigation-wrap
			#primary.content-area.clr
				main#content.site-content.left-content(role='main')
					// wikipage start

				h1.text-center.login-title Registrate
				.level1

					<br>
					div.signup-wall
						form(class='form-signin', action='/signupAdmin', method='POST')
							input(type='text', name='username', class='form-control', placeholder='Username',required, autofocus)
							input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
							<br>
							input(type='radio', name='roll', value='admin', class='radiobutton')
							| Acepto los Términos
							<br>
							<br>
							button(class='btn btn-lg btn-primary btn-block', type='submit') Registrar
							span.clearfix
						#message
					if message
						h1.text-center.error-message #{message}
						// wikipage stop

					// #post
					footer.entry-footer
					// .entry-footer
				// #content
			// #primary
