#header-wrap.clr
// #header-wrap
#sidr-close
  a.toggle-sidr-close(href='#sidr-close')
#site-navigation-wrap
  a#navigation-toggle(href='#sidr-main')
    span.fa.fa-bars
    | Menu

  nav#site-navigation.navigation.main-navigation.clr(role='navigation')
    .menu-menu-1-container
      ul#menu-menu-1.dropdown-menu.sf-menu

        li#menu-item-77.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-77
          a(href='/agregarProyecto') Agregar Datos

        li#menu-item-102.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-102
          a(href='/principal') Salir
  // #site-navigation
// #site-navigation-wrap
