#header-wrap.clr
// #header-wrap
#sidr-close
  a.toggle-sidr-close(href='#sidr-close')
#site-navigation-wrap
  a#navigation-toggle(href='#sidr-main')
    span.fa.fa-bars
    | Menu

  nav#site-navigation.navigation.main-navigation.clr(role='navigation')
    .menu-menu-1-container
      ul#menu-menu-1.dropdown-menu.sf-menu
        li#menu-item-41.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-has-children.menu-item-41


  // #site-navigation
// #site-navigation-wrap
