link(rel='alternate', type='application/rss+xml', title=' » Feed', href='http://computacion.ing.ula.ve/?feed=rss2')
link(rel='alternate', type='application/rss+xml', title=' » RSS de los comentarios', href='http://computacion.ing.ula.ve/?feed=comments-rss2')
link(rel='alternate', type='application/rss+xml', title=' » Inicio RSS de los comentarios', href='http://computacion.ing.ula.ve/?feed=rss2&page_id=61')
link#siteorigin-panels-front-css(rel='stylesheet', href='http://computacion.ing.ula.ve/wp-content/plugins/siteorigin-panels/css/front.css?ver=2.1.1', type='text/css', media='all')
link#rs-plugin-settings-css(rel='stylesheet', href='http://computacion.ing.ula.ve/wp-content/plugins/revslider/rs-plugin/css/settings.css?ver=4.6.8', type='text/css', media='all')
style#rs-plugin-settings-inline-css(type='text/css').
  .tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}
link#megamenu-css(rel='stylesheet', href='http://computacion.ing.ula.ve/wp-admin/admin-ajax.php?action=megamenu_css&ver=1.7.3.1', type='text/css', media='all')
link#dashicons-css(rel='stylesheet', href='http://computacion.ing.ula.ve/wp-includes/css/dashicons.min.css?ver=4.1.8', type='text/css', media='all')
link#wpex-style-css(rel='stylesheet', href='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/style.css?ver=2.0.1', type='text/css', media='all')
link#wpex-responsive-css(rel='stylesheet', href='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/css/responsive.css?ver=2.0.1', type='text/css', media='all')
link#wpex-font-awesome-css(rel='stylesheet', href='http://computacion.ing.ula.ve/wp-content/themes/wpex-corporate/css/font-awesome.min.css?ver=4.3.0', type='text/css', media='all')
link#google-font-montserrat-css(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700', type='text/css', media='all')
link#simple-social-icons-font-css(rel='stylesheet', href='http://computacion.ing.ula.ve/wp-content/plugins/simple-social-icons/css/style.css?ver=1.0.5', type='text/css', media='all')
link#jetpack_css-css(rel='stylesheet', href='http://computacion.ing.ula.ve/wp-content/plugins/jetpack/css/jetpack.css?ver=3.4.3', type='text/css', media='all')
script(type="text/javascript", src="/javascripts/main.js")
script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-includes/js/jquery/jquery.js?ver=1.11.1')
script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1')
script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.tools.min.js?ver=4.6.8')
script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?ver=4.6.8')
script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-includes/js/hoverIntent.min.js?ver=r7')
script(type='text/javascript').
  /* <![CDATA[ */
  var megamenu = {"effect":{"fade":{"in":{"animate":{"opacity":"show"}},"out":{"animate":{"opacity":"hide"}}},"slide":{"in":{"animate":{"height":"show"},"css":{"display":"none"}},"out":{"animate":{"height":"hide"}}}},"fade_speed":"fast","slide_speed":"fast","timeout":"300"};
  /* ]]> */
script(type='text/javascript', src='http://computacion.ing.ula.ve/wp-content/plugins/megamenu/js/maxmegamenu.js?ver=1.7.3.1')
link(rel='EditURI', type='application/rsd+xml', title='RSD', href='http://computacion.ing.ula.ve/xmlrpc.php?rsd')
link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='http://computacion.ing.ula.ve/wp-includes/wlwmanifest.xml')

meta(name='generator', content='WordPress 4.1.8')
link(rel='canonical', href='http://computacion.ing.ula.ve/')
link(rel='shortlink', href='http://computacion.ing.ula.ve/')

script(type='text/javascript').
  jQuery(document).ready(function() {
  // CUSTOM AJAX CONTENT LOADING FUNCTION
  var ajaxRevslider = function(obj) {
  // obj.type : Post Type
  // obj.id : ID of Content to Load
  // obj.aspectratio : The Aspect Ratio of the Container / Media
  // obj.selector : The Container Selector where the Content of Ajax will be injected. It is done via the Essential Grid on Return of Content
  var content = "";
  data = {};
  data.action = 'revslider_ajax_call_front';
  data.client_action = 'get_slider_html';
  data.token = '0ac93955a6';
  data.type = obj.type;
  data.id = obj.id;
  data.aspectratio = obj.aspectratio;
  // SYNC AJAX REQUEST
  jQuery.ajax({
  type:"post",
  url:"http://computacion.ing.ula.ve/wp-admin/admin-ajax.php",
  dataType: 'json',
  data:data,
  async:false,
  success: function(ret, textStatus, XMLHttpRequest) {
  if(ret.success == true)
  content=ret.data;
  },
  error: function(e) {
  console.log(e);
  }
  });
  // FIRST RETURN THE CONTENT WHEN IT IS LOADED !!
  return content;
  };
  // CUSTOM AJAX FUNCTION TO REMOVE THE SLIDER
  var ajaxRemoveRevslider = function(obj) {
  return jQuery(obj.selector+" .rev_slider").revkill();
  };
  // EXTEND THE AJAX CONTENT LOADING TYPES WITH TYPE AND FUNCTION
  var extendessential = setInterval(function() {
  if (jQuery.fn.tpessential != undefined) {
  clearInterval(extendessential);
  if(typeof(jQuery.fn.tpessential.defaults) !== 'undefined') {
  jQuery.fn.tpessential.defaults.ajaxTypes.push({type:"revslider",func:ajaxRevslider,killfunc:ajaxRemoveRevslider,openAnimationSpeed:0.3});
  // type:  Name of the Post to load via Ajax into the Essential Grid Ajax Container
  // func: the Function Name which is Called once the Item with the Post Type has been clicked
  // killfunc: function to kill in case the Ajax Window going to be remove(before Remove function !
  // openAnimationSpeed: how quick the Ajax Content window should be animated (default is 0.3)
  }
  }
  },30);
  });
style(type='text/css', media='screen').
  .simple-social-icons ul li a, .simple-social-icons ul li a:hover { background-color: #999999 !important; border-radius: 3px; color: #ffffff !important; border: 0px #ffffff solid !important; font-size: 18px; padding: 9px; }  .simple-social-icons ul li a:hover { background-color: #1e73be !important; border-color: #ffffff !important; color: #ffffff !important; }
style#custom-background-css(type='text/css').
  body.custom-background { background-color: #ffffff; }
style#siteorigin-panels-grids-wp_head(type='text/css', media='all').
  /* Layout 61 */ #pl-61 .panel-grid-cell .so-panel { margin-bottom:30px } #pl-61 .panel-grid-cell .so-panel:last-child { margin-bottom:0 } @media (max-width:780px){ #pg-61-0 .panel-grid-cell { float:none;width:auto } #pl-61 .panel-grid { margin-left:0;margin-right:0 } #pl-61 .panel-grid-cell { padding:0 }  }
